body {
    background-color: rgb(0, 0, 0);
}

#gameCanvas {
    background-color: rgb(0, 0, 41);
    border: 2px solid rgb(0, 225, 255);
    display: block;
    margin: auto;
}

#startButton {
    background-color: rgb(255, 0, 212);
    border: none;
    color: white;
    display: block;
    margin: auto;
    padding: 20px;
    width: 25%;
}

#startButton:hover {
    background-color: rgb(255, 0, 242);
}

